{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
<div class="w-75 row mx-auto">
    {% for article in articles %}   
        <div class="card col-md6" style="width: 18rem;">
            <img class="card-img-top" src="{{asset('img/' ~ article.picture)}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text"></p>
                <a href="{{path('article_show', {'id' : article.id })}}" class="btn btn-primary"> Voir détail</a>
            </div>
        </div>
    {% endfor %}
</div>
    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
