

{% block header %}    
<header>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">La Gazette HB</a>
  {% if app.user %}
  <p class="welcome_message"> Bonjour {{ app.user.username}}</p> 
  {% else %}  
  <a href="{{path('app_login')}}">se connecter</a>  
  {% endif %}
</nav>

</header>
{% endblock %}
